.results_table,
.results_table_mobile {
    width: 100%;
    border-collapse: collapse;
}

.results_table,
.results_head,
.result {
    border: 1px solid #69a507;
}

.results_head > tr > th,
.result > td {
    padding: 10px;
    text-align: left;
    white-space: pre-wrap;
}

.result_mobile {
    border-bottom: 1px solid #535353;
}

.result_mobile_right,
.result_mobile_left {
    padding: 5px;
}

.result_mobile_right {
    text-align: right;
}

.tier,
.match,
.winners,
.prize {
    margin: 0px;
}

.tier,
.winners {
    color: #999999;
    font-weight: 400;
}

.match,
.prize {
    color: #535353;
}

.tier,
.match {
    font-size: 12px;
}

.match {
    font-weight: 400;
}

.winners {
    font-size: 10px;
    font-style: italic;
}

.prize {
    font-size: 12px;
    font-weight: 700;
}
