@media screen and (max-width: 600px) {
    .title {
        font-size: 14px;
        border-bottom: 1px solid #535353;
    }

    .body {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) {
    .sidebar_content {
        border: 1px solid #69a507;
        border-left: 5px solid #69a507;
        margin-bottom: 10px;
    }

    .title {
        font-size: 17px;
    }

    .body {
        font-size: 14px;
    }
}

.title,
.body {
    padding: 10px;
}
