@media screen and (max-width: 600px) {
    .content {
        width: 100%;
    }

    .header {
        border-bottom: 4px solid #7f9f00;
        font-size: 1em;
    }

    .date {
        border-bottom: 1px solid #535353;
    }
}

@media screen and (min-width: 600px) {
    .content {
        margin: 0 auto;
        width: 960px;
    }

    .header {
        border-bottom: 1px solid #d9deda;
        font-size: 1.5em;
    }

    .results_list,
    .sidebar {
        float: left;
    }

    .results_list {
        width: 65%;
    }

    .sidebar {
        width: 30%;
    }
}

.content {
    font-family: Geneva, 'Trebuchet MS', Tahoma, Verdana, sans-serif;
    min-width: 350px;
}

.header,
.numbers,
.results_list,
.sidebar,
.sidebar_content {
    padding: 10px;
}

.date {
    padding: 5px;
    font-size: 1em;
}

.results {
    overflow: hidden;
}
